* {
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  margin: 0;
  height: 100%;
  background-color: dimgray;
}

.hamMen {
  position: absolute;
  top: 50%;
  right: 4vw;
  transform: translateY(-50%);
  transition: .2s;
}

.hamMen:hover {
  right: 3.5vw;
  width: 60px;
  height: 60px;
}

.navCon {
  position: fixed;
  overflow: hidden;
  height: 65px;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: #ffffff;

}

.nav {
  position: absolute;
  right: 10vw;
  list-style: none;
  display: flex;
  visibility: visible;
}

#linkList {
  display: none;
}

.nav li {
  padding: 5px 25px;
  font-size: 1.23rem;
}

.nav a {
  text-decoration: none;
  color: #000;
}

.siteTitle{
  position: absolute;
  top: -10%;
  left: 5%;
  font-size: 2rem;
}

.side-bar {
  width: 130px;
  height: 100%;
  background-color: #102820;
  position: absolute;
  top: 0;
  left: 0;
}

.downloadBtn{
  position: fixed;
  border-radius: 10px;
  filter: drop-shadow(#000 0px 0px 10px);
  bottom: 5%;
  left: 80%;
  background-color: #ffcd29;
  font-size: 1rem;
  border: none;
  padding: 15px;
}

.a4-sheet-container {
  position: relative;
  text-align: left;
  flex-shrink: 0;
  max-width: 90%;
  width: 794px;
  height: 1123px;
  margin: 0 auto;
  background-color: #4C6444;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.input-fields-container {
  margin-left: 300px;
  margin-top: 150px;
  width: calc(100% - 100px);
}

.header-section {
  top: 20px;
  order: -1;
  width: 100%;
  margin-bottom: 30px;
  left: 100px;
}

.header-section h1 {
  margin-left: -15px;
  width: auto;
  text-align: left;
}

#name-input {
  max-width: 500px;
  padding: 5px 10px;
  margin: 0 auto;
  display: block;
  font-size: 22px;
  font-weight: bold;
}
#static-info-header {
  width: auto;
  margin-left: 125px;
  text-align: left;
  font-weight: bold;
}
#email {
  margin-left: 30px;
  font-size: 14px;
}
#phone {
  margin-left: 30px;
  font-size: 14px;
}
#education{
  margin-left: 30px;
  font-size: 16px;
}
#experience {
  margin-left: 30px;
  font-size: 16px;
}
.cv-section {
  margin-left: 100px;
  width: calc(100% - 100px);
  margin-bottom: 20px;
}

.cv-section p {
  margin: 5px 0;
}

.editable-field {
  font-size: 14px;
  border: none;
  background-color: #4C6444;
  border-bottom: 1px solid #4C6444;
  padding: 5px;
  margin-bottom: 10px;
  width: 80%;
}
#description-input {
  overflow: auto;
  height: 400px;
  font-size: 16px;
  line-height: 2;
}
  
.photo-placeholder {
  width: 110px;
  height: 110px;
  background-image: url('images/placeholder.jpg');
  background-size: cover;
  background-position: center;
  margin: 10px;
  margin-left: -10px;
  position: absolute;
  z-index: 1;
  float: left;
  cursor: pointer;
  overflow: hidden;
}

.photo-upload-input {
  display: none;
}

.a4-sheet-container h1, 
.a4-sheet-container h2,
.a4-sheet-container p,
.editable-field {
  color: #ffff; /* Dark gray for better readability on the background */
}
.wrapper {
    margin-top: 100px;
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Arrange items vertically */
    min-height: 100vh; /* Ensure wrapper takes full viewport height */
    align-items: center; /* Horizontally center the resume container */
  }
  #name-input {
    max-width: 500px;
    padding: 5px 10px;
    margin: 0 auto;
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin-left: 130px; /* Move the name input field to the left */
}

#degree-input {
    margin-left: 60px; /* Move the degree input field to the left */
}

#university-input {
    margin-left: 60px; /* Move the university input field to the left */
}

#year-input {
    margin-left: 60px; /* Move the year input field to the left */
}

#position-input {
    margin-left: 60px; /* Move the position input field to the left */
}

#company-input {
    margin-left: 60px; /* Move the company input field to the left */
}

#duration-input {
    margin-left: 60px; /* Move the duration input field to the left */
}

#description-input {
    margin-left: 60px; /* Move the description input field to the left */
    overflow: auto;
    height: 400px;
    font-size: 16px;
    line-height: 2;
}

@media screen and (max-width: 768px) {
  .nav {
      right: 5vw;
  }

  .toolNav {
      width: 90%;
  }

  .toolNav li {
      margin: auto 3vw;
  }
}

@media screen and (max-width: 576px) {
  .nav {
      right: 2vw;
  }

  .toolNav {
      width: 100%;
  }

  .toolNav li {
      margin: auto 2vw;
  }
}

